/* Para Splash */

*,*:after, *:before{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

.contenedor{
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  z-index: 10000;
}

#carga{
  border: 15px solid #ccc;
  border-top-color: #FF3545;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: girar 2s linear infinite;
  -o-animation: girar 2s linear infinite;
  animation: girar 2s linear infinite;
}

@keyframes girar {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

#logo{
  width: 300px;
  height: 70px;
  margin: 150px auto 50px auto;
  font-size: 60px;
  font-family: 'Kalam', cursive;
  text-align: center;
  color: white;
  
}

/* Para view */ 

#map {
    height: 35%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
  }

  h1 {
      margin-top: 6%;
      font-family: 'Kalam', cursive;
      text-align: center;
      color: white;
  }

  .input{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }

  div a:hover{
    color: #FF3545;
  }

  #paint-list{
    color: #ccc;
  }